doctype html
html(lang="en")
	head
		title ClearShot
		script(type='text/javascript' src='http://code.jquery.com/jquery-1.9.1.js')
		script(type='text/javascript' src="js/clearshot.js")
		body
			block content
			